<h1>Animes</h1>

<%= link_to "Alphabetical Order", abc_path, class: 'btn btn-primary' %>  <%= link_to "Author Order", author_path, class: 'btn btn-primary' %> 
<p></p>

<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <%# <th>Creator</th> %>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.title, list_path(list) %></td>
        <td><%= list.author %></td>
        <%# <td><%= list.creator.email %>
        <% if list.creator == current_user %>
          <td><%= link_to "Edit", edit_list_path(list), class: 'btn btn-sm btn-primary' %></td>
          <td><%= button_to "Delete", list_path(list), method: :delete, data: { turbo: false }, class: "btn btn-sm btn-danger" %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%# <p> 
  <%= link_to "Create New Anime", new_list_path, class: 'btn btn-primary' %>

