<%= link_to "Go back", lists_path%>

<h1><b><%= @list.title %></b></h1>

<p>Created by: <%= @list.creator.email %></p>

<p>
  <b>Summary: </b><%= @list.summary %>
</p>
<p>
  <b>Author: </b><%= @list.author %>
</p>
<p>
  <b>Genre: </b><%= @list.genre %>
</p>
<p>
  <b>Ratings: </b><%= @list.ratings %>
</p>

<p>
  <%= link_to 'Enter Chat Forum', list_discussions_path(@list), class: 'btn btn-primary' %>
</p>
