<h1><b><%= @list.title %></b></h1>
<p>
  <b>Summary: </b><%= @list.summary %>
</p>
<p>
  <b>Author: </b><%= @list.author %>
</p>
<p>
  <b>Genre: </b><%= @list.genre %>
</p>
<p>
  <b>Ratings: </b><%= @list.ratings %>
</p>