<div id="<%= dom_id pin %>">
  <p>
    <strong>Titlr:</strong>
    <%= pin.titlr %>
  </p>

  <%= pin.body %>
  <br />
  <%= image_tag(pin.image) %>
  <hr />
  <%= pin.pictures.each do |picture|%>
    <%= picture %>
  <% end %>  
</div>
