<%= form_with(model: latest) do |form| %>
  <% if latest.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(latest.errors.count, "error") %> prohibited this latest from being saved:</h2>

      <ul>
        <% latest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <%# <div> %>
    <%# <%= form.label :longitude, style: "display: block" %> %>
    <%# <%= form.text_field :longitude %> %>
  <%# </div> %>

  <%# <div> %>
    <%# <%= form.label :latitude, style: "display: block" %> %>
    <%# <%= form.text_field :latitude %> %>
  <%# </div> %>

  <div>
    <%= form.label :allow_comments, style: "display: block" %>
    <%= form.check_box :allow_comments %>
  </div>

  <div>
    <%= form.label :show_likes_counter, style: "display: block" %>
    <%= form.check_box :show_likes_counter %>
  </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div>
    <%= form.submit "Create post"%>
  
  </div>
<% end %>
