

<div id="<%= dom_id latest %>">
  <div class="d-flex justify-content-center mt-4">
  


  <div class="card" style="width: 30rem;">
    <div class="card-header bg-white">
      <div class=d-flex justify-content-between">
        <div>
          <% if latest.user.profile_pic.attached? %>
            <%= image_tag latest.user.profile_pic, class: "img-thumbnail rounded-circle", style: "width: 10%"%>
          <% else %>
            <%= image_tag 'smiley.png', class: "img-thumbnail rounded-circle", style: "width: 10%"%>
          <% end %>
          <span class="fw-bold mx-2"><%= latest.user.username %></span>
        </div>
        <div>
          <div class="dropdown">
            <a class="text-dark fs-4" style="text-decoration:none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ...
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    

    <div class="card-body">
      <%= image_tag latest.images.last, class: "card-img-top" %>
      
     
    </div>


    <div class="card-footer">
      <p class="card-text"><%= latest.description%></p>
    </div>
  </div>
  </div>

</div>
