<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center mt-4">
  <%= render @latest %>
</div>



<%# <div> %>
  <%# <%= link_to "Edit this latest", edit_latest_path(@latest) %> | %>
  <%# <%= link_to "Back to latests", latests_path %> %>

  <%# <%= button_to "Destroy this latest", @latest, method: :delete %> %>
<%# </div> %>
