<b><i> This post has <%= pluralize(@comments.count, "comment")%> </i></b>
<hr>

<% if user_signed_in? %>
    <%= render 'comments/form'%>
<% end %>

<br>
<% @comments.each do |comment|%>

<div class="card border-info mb-3" style="max-width;">
  <div class="card-body text-info">
    <b><%= comment.user.username %></b> : 
    <div style="white-space: pre-line;">
      <%= comment.body%>
    </div>
  
    <div class="text-end">
      <% if current_user == comment.user %>
          <%= link_to 'Edit', edit_article_comment_path(comment.article, comment) %>
      <%end%>
      <% if current_user == comment.user || current_user.email == 'admin@mail.com' %>
          <%= link_to 'Delete', [comment.article, comment], method: :delete %>
      <%end%>
      <i>  <%= comment.created_at.strftime("%v")%></i>
    </div>

  </div>
</div>

<% end %>
