<div class="card my-5">
  <div class="card-body">
    <h1>Edit Rating</h1>

    <div class="mt-2">
    <%= bootstrap_form_with model: @rating, method: :post, url: convention_ratings_path(@convention, @rating), data: { turbo: false } do |f| %>
        <%= f.text_field :review %>
        <%= f.text_area :comment %>
        <%= f.number_field :stars%>
        <%= f.submit %>
    <% end %>
      <%= link_to 'Back', convention_ratings_path, class: 'btn btn-light' %>
    </div>
  </div>
</div>