<h1> Ratings for: <%=@convention.title%></h1>

 <%=link_to "Make your Own Review " , new_convention_rating_path %>


<hr>
<% @ratings.each do |rating| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to rating.review, convention_ratings_path(rating) %></h5> 
      <p class="card-text"><%= truncate(rating.comment, length: 100) %></p>
      <%= link_to 'Edit Your Rating', edit_convention_rating_path(@convention, rating), class: 'card-link' %>
      <%= button_to 'BLAM', convention_rating_path(@convention, rating), method: :delete, data: { turbo: false }, class: 'btn btn-outline-secondary btn-sm', form: { class: 'd-inline' } %>
    </div>
  </div>
<% end %>