<div class="contaianer mt-5">
    <div class="row">
        <div class="col-4">
            <% if current_user.avatar.attached?%>
                <div class="text-center">
                    <%= image_tag(current_user.avatar, style:" display: inline-block; width: 200px; height: 200px; object-fit: cover;") %>
                </div>

            <%else%>
                <div class="text-center">
                    <%= image_tag 'default-profile-pic.png', style:" display: inline-block; width: 200px; height: 200px; object-fit: cover;" %>
                </div> 
            <% end %>
           
        </div>
        
        <div class="col-4">
            <h1><%= current_user.username%></h1>
            <h6>
                <%= pluralize(current_user.comments.size, "Comment")%>
                <%= pluralize(current_user.reviews.size, "Review")%>
        </div>
    </div>
</div>

