<h1>Q&A Page</h1>

<br>
<div class="container-fluid">
    <div class="row">
        <!-- Questions list (2/3 width) -->
        <div class="col-sm-8">
            <h3>Questions</h3>
            <br>
            <% @questions.each do |q| %>
            <!-- <ul>
                <li><%= q.title %></li>
                <li><%= q.desc %></li>
                <li>Show</li>
            </ul> -->
            <div class="card mb-4 p-3">
                <div class="card-body">
                    
                    <h4 class="card-title"><%= q.title %></h4>
                    <p class="card-text"><%= q.desc %></p>
                    <%= link_to 'Show', qa_show_path(q), class: "btn btn-outline-primary rounded" %>
                    <%# <%= link_to 'Answer', question_answers_path(q), class: 'btn btn-secondary' %> 
                    <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
            <% end %>


        </div>
        
        <!-- Button (1/3 width) -->
        <div class="col-sm-4">
            <br><br><br>
            <div class="text-center">
                <p class="lead">Add your Question</p>
                <!-- <button class="btn btn-outline-success rounded btn-lg px-4">Add Question</button> -->
                <%= link_to "Create Question" , new_qa_path, class: "btn btn-outline-success rounded btn-lg px-4" %>
            </div>
        </div>
    </div>
</div>