<h1 class="display-5">Create New Question</h1>
<%= bootstrap_form_with model: @question, url: qa_path, method: :post, data: { turbo: false } do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :desc %>
    <%= f.submit %>
<% end %>

<%= link_to 'Cancel', qa_path, class: 'btn btn-outline-danger mt-3' %>
