<%= link_to 'back to Q&A', qa_path, class: "btn btn-primary mb-3" %>

<div class="jumbotron jumbotron-fluid border border-secondary rounded p-4 border-3 mb-3">
    <div class="container p-3">
        <h2 class="display-4"><%= @question.title %></h2>
        <p class="lead"><%= @question.desc %></p>
    </div>
    <div class="d-flex flex-wrap">
        <%= link_to "Edit", edit_qa_path(@question), class:'btn btn-outline-primary rounded btn-lg mx-3' %>
        <%= button_to "Delete", qa_show_path(@question), class:"btn btn-outline-danger btn-lg", method: :delete, data: { turbo: false } %>
    </div>
</div>

<%# <%= link_to 'New Comment', new_answer_path, class:'btn btn-primary mb-3' %> %>

<% @question.answers.each do |answer| %>
    <div class="alert alert-secondary p-4" role="alert">
        <%= answer.title %> | Edit | Delete
    </div>
<% end %>
