<div id="<%= dom_id convention %>">
  <p>
    <strong>Description:</strong>
    <%= convention.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= convention.link %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= convention.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= convention.price %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= convention.title %>
  </p>

</div>
